<%- include("./partials/header")  %>
<nav>
    <form action="/" method="GET">
        <button type="submit" class="home"><i class="fas fa-home"></i></button>
    </form>
</nav>

<div class="otp_container" style="top: 40%;">
    <form action="/enqury" method="GET">
        <img src="./images/checkin.svg" style="width:100%;">
        <h3><%= w %> Successfully!!</h3>
        <button class="btn" type="submit" style="width:100px">OK</button>
    </form>

</div>
<%- include("./partials/footer")   %>